h1{
	text-align: center;
	color: white;
	font-size: 50px;
}
.logo{
	width: 250px;
}
body{
	background: url(фон.jpg);
}
.div1{
	display: flex;
	justify-content: space-between space-around;
	align-items: center start end;
}
.shop{
	height: 50px;
	margin-top: 100px
}
.a1{
	color: white;
	text-decoration: none;
	font-size: 40px;
	margin-left: 100px;
	margin-top: 100px;

}
.a1:hover{
	color: grey;
}
.a2{
	color: white;
	text-decoration: none;
	font-size: 30px;
	margin-left: 100px;
	margin-top: 110px;
}
.a2:hover{
	color: grey;
}
.a3{
	color: white;
	text-decoration: none;
	font-size: 40px;
	margin-left: 100px;
	margin-top: 100px;
}
.a3:hover{
	color: grey;
}
.a4{
	color: white;
	text-decoration: none;
	font-size: 40px;
	margin-left: 100px;
	margin-top: 100px;
}
.a4:hover{
	color: grey;
}
.a5{
	color: lightblue;
	font-size: 40px;
	margin-left: 50px;
}
.a5:hover{
	color: grey;
}
footer{
	border-color: black;
}
.a7{
	color: white;
	text-decoration: none;
	font-size: 40px;
	margin-left: 100px;
	margin-top: 300px;
}
.a7:hover{
	color: grey;
}
.a8{
	color: white;
	text-decoration: none;
	font-size: 30px;
	margin-left: 100px;
	margin-top: 300px;
}
.a8:hover{
	color: grey;
}
.img1{
	height: 150px;

}
.img2{
	height: 200px;
	margin-top: 100px;


}
.a10{color: white;
	text-decoration: none;
	font-size: 40px;
}
.a10:hover{
	color: grey;
}
.p1{
	text-align: right;
	font-size: 20px;
}
.a11{
	color: white;
	text-decoration: none;
	font-size: 30px;
}
.a11:hover{
	color: grey;
}
.p3{
	color: white;
	font-size: 35px;
	text-align: center;
}
.p2{
	color: white;
	font-size: 25px;
	text-align: center;
}