.a3{
	text-decoration: none;
	color: green;
	font-size: 25px;
	margin-left: 2%
}
.a3:hover{
	color: red;
}
.img1{
	width: 35%;
	height: 350px;
	margin-left: 10%;
	margin-top: 20px;
}
.img2{
	width: 50%;
	height: 500px;
	margin-left: 23%;
	border: 10px;
	border-color: blue;
	padding: 4px;
}
.welcome{
	text-align: center;
}
body{

}
p{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}
.a1{
	text-decoration: none;
	font-size: 30px;
	color: blue;
	margin-left: 5%
}
.a1:hover{
	color: red;
}
.a2{
	text-decoration: none;
	font-size: 25px;
	margin-left: 4%;
}
.a2:hover{
	color: red;
}
h3{
	text-align: center;
	font-size: 25px;
}
header{
	background-color: lightgrey;
}
.logo{
	width: 10%;
	height: 150px;
	margin-left: 10%;
}
.search{
	margin-left: 155px;
	text-align: left;
}