h1{
	text-align: center;
}
div{
	margin-left: 400px;
	height: 200px;
}
img{
	width: 600px
}
a{
	text-decoration: none;
	color: red;
}
body{
	background: url(фон.jpg); 
}
p{
	font-size: 28px
}
form{
	margin-top: 350px
}
ul{
	margin-right: 0;
}