h1{
	text-align: center;
}
header{
	background-color: lightblue;
}
.text1{
	font-size: 25px;
	text-align: center;
}
.wiki1{
	text-decoration: none;
	font-size: 25px;
	margin-left: 100px
}
.wiki2{
	text-decoration: none;
	margin-left: 300px;
	font-size: 25px;
}
.img1{
	height: 400px;
}
p{
	font-size: 25px;
}
